.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  button {
    background: #616fee;
    color: #eee;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
  }
  select {
    padding: 10px;
    border-radius: 4px;
    width: 150px;
    font-size: 16px;
    outline: none;
  }
}
