.container {
  background: #ffffff;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .detailsWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    .strikeThrough {
      text-decoration: line-through;
    }

    p {
      margin: 0;
      padding: 0;
      text-align: left;
    }
    input[type="checkbox"] {
      width: 20px;
      height: 20px;
    }
  }
  .actionsWrapper {
    display: flex;
    gap: 5px;
    margin: 5px;
    span {
      padding: 2px 5px;
      border-radius: 5px;
      border: 1px solid #eeeeeeee;
      cursor: pointer;
    }
  }
}
